.estrutura-data-container-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;

  > .estrutura-data-card-item {
    display: grid;
    gap: 0.9rem;
    width: 100%;
    font-family: var(--font-base-roboto);
    margin: 3.2rem 0;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.6s, transform 0.8s;
    animation: slideFromRight 0.5s forwards;

    &::after {
      content: ' ';
      padding-inline: 0.8rem;
      width: calc(100% - 2.4rem);
      height: 1px;
      background-color: var(--color-base-bg-300);
      position: relative;
      bottom: -3.2rem;
      display: block;
    }

    &:hover {
      scale: (0.97);
      transition: scale 0.5s;
      cursor: pointer;
    }

    &:last-child::after {
      display: none;
    }

    > .estrutura-data-card-title {
      font-size: 1.8rem;
      font-weight: var(--font-w-normal);
    }

    > .estrutura-data-card-description {
      font-size: 1.4rem;
      color: var(--color-base-text-500);
      padding-right: 0.8rem;
      text-align: start;
    }

    > .estrutura-data-card-reputation {
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 3.2rem;

      &.starred {
        grid-template-columns: 9rem 1fr;
        gap: 1.2rem;
      }

      > .estrutura-data-card-reputation-info {
        display: flex;
        gap: 0.8rem;
        align-items: center;
      }
    }
  }

  &#starred {
    > .estrutura-data-card-item > .estrutura-data-card-reputation {
      display: grid;
      grid-template-columns: 8rem auto;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 728px) {
  .container-global > .estrutura-data-container-cards {
    margin-left: 2.4rem;
    grid-column: 2;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .container-global
    > .estrutura-data-container-cards
    > .estrutura-data-card-item {
    margin-bottom: 1.2rem;

    &::after {
      content: none;
    }
  }
}
