:root {
    // background
    --color-base-bg-700: #24292E;
    --color-base-bg-300: #F8F8F8;
    --color-base-bg-200: #F4F4F4;
    --color-base-bg-100: #fefbfb;
    --color-base-bg-000: #FFFFFF;

    // text
    --color-base-text-950: #0C0A09;
    --color-base-text-900: #1C1917;
    --color-base-text-800: #292524;
    --color-base-text-700: #44403C;
    --color-base-text-600: #57534E;
    --color-base-text-500: #78716C;
    --color-base-text-400: #A8A29E;
    --color-base-text-300: #D6D3D1;
    --color-base-text-200: #E7E5E4;
    --color-base-text-100: #F5F5F4;
    --color-base-text-50: #FAFAF9;
    --color-base-text-000: #fff;

    // blue color
    --color-base-blue-500: #0056A6;
    --color-base-blue-400: #0587FF;

    // red color
    --color-base-red-800: #FE354D;
    --color-base-red-500: #FD8C73;

    //fonts
    --font-base-roboto: "Roboto";
    --font-extra-bold: 800;
    --font-bold: 700;
    --font-semi-bold: 600;
    --font-medium: 500;
    --font-normal: 400;
    --font-light: 300;
    --font-extra-light: 200;
    --font-thin: 100;

    // 1rem = 10px
    font-size: 62.5%
  };

// Remover estilos padrões
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.estrutura {
    background-color: var(--color-base-bg-000);
    font-family: var(--font-base-roboto);
    font-size: 1.6rem;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background:transparent;
    border: none;
    cursor: pointer;
}

input {
    border: none;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-global {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

// header
.estrutura-header {
    background-color: var(--color-base-bg-700);
    padding: 2.1rem;

    > .estrutura-header-itens {
        display: flex;
        align-items: center;
        gap: 2.2rem;
        color: var(--color-base-bg-200);

        > .estrutura-header-separator {
            font-size: 2.4rem;
        }
        
        > .estrutura-header-subject {
            font-family: var(--font-base-roboto);
            font-weight: var(--font-light);
        }
    }
}


