:root {
  --color-base-bg-700: #24292E;
  --color-base-bg-300: #F8F8F8;
  --color-base-bg-200: #F4F4F4;
  --color-base-bg-100: #fefbfb;
  --color-base-bg-000: #FFFFFF;

  --color-base-text-900: #000000;
  --color-base-text-800: #262626;
  --color-base-text-700: #989898;
  --color-base-text-000: #fff;

  --color-base-blue-500: #0056A6;
  --color-base-blue-400: #0587FF;

  --color-base-red-800: #FE354D;
  --color-base-red-500: #FD8C73;

  --font-base-roboto: 'Roboto, sans-serif';
};

body {
  padding: 0%;
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--font-base-roboto) !important;
}


img {
    display: block;
    max-width: 100%;
}

button {
    background:transparent;
    border: none;
    cursor: pointer;
}
input {
    border: none;
}

ul li {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

.container_base {
    max-width: 428px;
    margin: 0 auto;
  }

.nav-github {
    display: none;
}
.grid-content {
    .header-perfil {
        padding: 40px 24px;
        text-align: center;

        .photo-content {
            margin: 0 auto;
            position: relative;
            max-width: max-content;
            max-height: max-content;
            .user-perfil {
                border-radius: 50%;
                max-width: 10rem;
                margin: 0 auto 16px;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
            }
            .status-perfil {
                background-color: var(--color-base-bg-000);
                width: 50px;
                height: 50px;
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 20px;
                box-shadow: 0px 0px 3px 0px #0000008c;
            }
        }

        .name-perfil {
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: var(--color-base-text-800);
            margin-bottom: 4px;
        }

        .text-perfil {
            font-size: 14px;
            line-height: 16px;
            color: var(--color-base-text-700);
            margin-bottom: 24px;
            padding: 0 40px;
        }

        .infos-add-perfil {
            color: var(--color-base-blue-400);
            background-color: transparent;
            font-size: 14px;
            line-height: 16px;
            display: grid;
            justify-items: center;
            gap: 2px;
            width: 100%;

            .button-info {
                font-size: 24px;
                transition: 0.5s;
            }
            .button-info.active {
                transform: rotate(180deg);
            }
        }

        .details-perfil {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            padding: 16px;
            background: var(--color-base-bg-300);
            border-radius: 16px;
            color: var(--color-base-blue-400);
            animation: go-backY 1s;
            margin-top: 8px;
            .list-details {
                display: grid;
                justify-items: start;
                gap: 16px;
                span {
                    margin-left: 10px;
                }
            }
        }

        .details-perfil.active {
            display: flex;
        }
    }

    .content-repo {
        padding: 0 24px;

        .toggle-option {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            align-items: center;
            margin-bottom: 24px;
            .button-option {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 8px;
                gap: 8px;
                background: transparent;

                transition: color 0.2s;
                position: relative;
                cursor: pointer;
                color: var(--color-base-text-700);
                line-height: 19px;

                &:hover {
                    color: var(--color-base-text-900);
                }

                &::after {
                    content: '';
                    width: 0%;
                    height: 2px;
                    background: var(--color-base-red-500);
                    position: absolute;
                    left: 0;
                    bottom: 0rem;
                    transition: width 0.2s;
                }

                &:hover::after {
                    width: 100%;
                }

                svg {
                    font-size: 20px;
                }

                .count {
                    margin-left: 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 10px;
                    color: var(--color-base-text-700);
                    background: var(--color-base-bg-300);
                    border: 1px solid #dbdbdb;
                    border-radius: 59px;
                }
            }
        }

        .search-content {
            width: 100%;
            background: var(--color-base-bg-300);
            border-radius: 8px;
            padding: 12px 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            flex-wrap: wrap;
            .button-content {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 8px;
                .button-prefs {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 24px 6px 8px;
                    gap: 4px;

                    font-size: 14px;
                    line-height: 16px;
                    position: relative;
                    color: var(--color-base-text-000);
                    background: linear-gradient(
                        89.89deg,
                        var(--color-base-blue-500) -30.01%,
                        var(--color-base-blue-400) 125.65%
                    );
                    border-radius: 42px;

                    svg {
                        font-size: 24px;
                    }
                    position: relative;

                    .prefs-list {
                        padding: 60px 24px 24px;
                        z-index: 2;
                        position: fixed;
                        width: 100vw;
                        height: 100vh;
                        left: 0;
                        color: rgb(0, 0, 0);
                        background: rgb(248, 248, 248);
                        cursor: auto;
                        top: 0;
                        display: none;
                        .list-header {
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 40px;
                            .list-title {
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 28px;
                            }
                            svg {
                                font-size: 28px;
                                path {
                                    stroke: var(--color-base-red-800);
                                }
                            }
                        }
                        .list-options {
                            padding: 10px;
                            li {
                                padding: 10px;
                                padding-bottom: 4px;
                                display: flex;
                                span {
                                    padding-left: 16px;
                                    line-height: 19px;
                                }
                            }
                        }

                        &.active {
                            top: 0;
                            display: block;
                        }
                    }
                }
            }
            span {
                svg {
                    font-size: 24px;
                    path {
                        fill: var(--color-base-blue-400);
                    }
                }
                .ipt-search-repo {
                    display: none;
                }
            }
        }

        .content-projects {
            &.repositories,
            &.starred {
                display: none;
            }
            &.repositories.active,
            &.starred.active {
                display: block;
                animation: go-backX 1s;
            }
            .card-project {
                padding: 32px 0px;
                border-bottom: 1px solid
                    var(--color-base-bg-200);
                h2 {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 21px;
                    color: #000000;
                    margin-bottom: 16px;
                    span {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 21px;
                        color: var(--color-base-blue-500);
                    }
                }

                p {
                    font-size: 14px;
                    line-height: 16px;
                    color: var(--color-base-text-700);
                    margin-bottom: 16px;
                }

                .stats,
                .stats span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                .stats {
                    gap: 32px;
                    span {
                        padding: 0px;
                        gap: 8px;
                    }
                }
            }
        }
    }
}
  
@keyframes go-backY {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes go-backX {
    0% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(0);
    }
}
  
@media (min-width: 620px) {
    // max-width: 100%;
    .nav-github {
        display: block;
        position: fixed;
        width: 100vw;
        left: 0;
        background: var(--color-base-bg-700);
        z-index: 2;
        box-shadow: rgb(0, 0, 0) 1px -2px 15px 3px;
        .nav-content {
            padding: 21px;
            display: flex;
            align-items: center;
            color: var(--color-base-text-000);

            .logo-svg {
                margin-right: 16px;
                padding-top: 4px;
                svg {
                    font-size: 22px;
                }
            }
            .logo-title {
                margin-right: 22px;
            }
            .logo-detail {
                font-size: 24px;
                line-height: 28px;
                color: var(--color-base-text-000);
                margin-right: 22px;
            }
            .name-page {
                font-weight: 300;
                line-height: 19px;
                color: var(--color-base-bg-000);
            }
        }
    }

    .grid-content {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin: 0 auto;
        padding: 120px 24px;
        justify-content: center;

        .header-perfil {
            min-width: 280px;
            padding: 40px 12px;

            .text-perfil {
                padding: 0;
            }
            .infos-add-perfil {
                display: none;
            }
            .details-perfil {
                display: flex;
                background: transparent;
            }
        }

        .content-repo {
            width: auto;
            .toggle-option {
                justify-content: unset;
                gap: 26px;
                flex-wrap: nowrap;
            }
            .search-content {
                background: transparent;
                flex-direction: column;
                align-items: flex-start;
                gap: 28px;

                span {
                    svg {
                        path {
                            fill: var(--color-base-text-700);
                        }
                    }
                    display: flex;
                    gap: 16px;
                    .ipt-search-repo {
                        background: transparent;
                        display: block;

                        font-size: 18px;
                        line-height: 21px;
                        color: var(--color-base-text-700);
                        outline: none;
                    }
                }
                position: relative;
                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: var(--color-base-bg-200);
                    position: absolute;
                    left: 0;
                    bottom: 12px;
                    transition: width 0.2s;
                }

                .button-content {
                    .button-prefs {
                        .prefs-list {
                            padding: 0;
                            .list-header {
                                display: none;
                            }
                            background: linear-gradient(
                                    89.89deg,
                                    rgba(0, 86, 166, 0.05) -30.01%,
                                    rgba(5, 135, 255, 0.05) 125.65%
                                ),
                                var(--color-base-text-000);
                            border-radius: 8px;
                            position: absolute;
                            top: 38px;
                            left: 0px;
                            z-index: 1;
                            color: var(--color-base-text-900);
                            border: 1px solid
                                var(--color-base-bg-300);
                            li {
                                padding: 10px;
                                padding-bottom: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                flex-direction: row;
                                span {
                                    padding-left: 16px;
                                    line-height: 19px;
                                }
                            }
                            &.list-language,
                            &.list-type {
                                position: unset;
                                width: 0;
                                height: 0;
                                visibility: hidden;
                                padding: 0;

                                &.active {
                                    padding: 10px;
                                    visibility: visible;
                                    position: absolute;
                                    width: auto;
                                    height: auto;
                                }
                            }
                            &.active {
                                top: 38px;
                                width: max-content;
                                height: max-content;
                            }
                        }
                    }
                }
            }
        }
    }
}
  
@media (min-width: 1000px) {
    .nav-github {
        .nav-content {
            max-width: 1100px;
            margin: 0 auto;
        }
    }
    .grid-content {
        max-width: 1100px;
        margin: 0 auto;
        .content-repo {
            .search-content {
                margin-bottom: 0px;
                .ipt-search-repo {
                    width: 350px;
                }

                &::after {
                    width: 400px;
                }
            }
            .content-projects {
                .card-project {
                    padding: 24px 0px;
                    border-bottom: none;
                    &:first-child {
                        padding-top: 32px;
                    }
                }
            }
        }
    }
}
  
@media (min-width: 1100px) {
    .grid-content {
        .content-repo {
            .search-content {
                flex-direction: row-reverse;
            }
        }
    }
}